/* Element Delector */

/* h1{
    text-align: center;
    color:blue
}

/* Group Selsctor */

/* p,article{
    color:red
} */ 

/* Class Selector */

/* .para{
    color:green
} */

/* Id Selector */

/* #para1{
    color:brown
} */
/* #article1{
    color: blue;
} */

